<!-- Navigation Bar -->
<div class="navbar-fixed ">
    <nav class="black"id="navbar">
        <div class="nav-wrapper ">
        <a href="#" class="brand-logo flow-text ">FREELANCER
            <div class="responsive-img hide-on-med-and-down" id="logo"><img src="assets/logo_transparent.png" alt="logo" width="110" height="110"></div>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" routerLinkActive="active">
                <li class="nav-item active"><a class="nav-link" routerLink="home">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="wahtIDo">What I Do</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- Script for collapsible navigation -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
    });
</script>