<div class="container-fluid black">
    <footer class="footer fixed black page-footer">
        <div class="footer-copyright">
          <div class="container">
                <div class="row s12">
                    <div class="col m6">
                    © 2020 Copyright Denis Lafontant All Rights Reserved
                    </div>
                    <div class="col m6">
                        facebook
                    </div>
                
                </div>
          </div>
        </div>
    </footer>
</div>
