<div class="container-fluid lead text text-justify center-align" id="About">
    <div class="container">
      <h1 class="text-center">ABOUT</h1>
      <hr>
      <br>
      <p>I am Denis Lafontant an experienced freelance full stack web designer, and developer, for 15 years I am dedicated to computer sciences especially development, enterprise solutions and networking. I code with PHP, CSS3, HTML5, Javascript & jQuery, build sites in WordPress, Joomla, Drupal, e-commerce sites in Shopify and Prestashop and the list continues to grow, I also do digital marketing to promote and grow your business on the social networks.</p>
      <p>With a focus on results-driven services, my job is giving you not only a website and/or web application but a fully active digital presence that gets results. All of the projects that I work on are guided by a strong sense of meticulousness and precision both design and developing. I'm passionate about creating a meaningful and unique digital experience for my clients' users while providing them with confidence and assurance that they are in good hands.</p>
    </div>
  </div>