/*---------- About ----------*/

/* Horizontal rule formatting */
#About hr {
    background-color: #36B1BF;
    height: 0.1rem
  }
  
/* welcome-section text formatting */
#About h1 {
color: #36B1BF;
text-transform: uppercase;
}

/* Padding */
#About {
padding-top: 2rem;
height: 70vh;
}

/*text*/
p {
   -ms-text-justify: auto;
   font-size: 1.5rem;
}