<div class="container-fluid">
    <div class="container">
        <h1 class="center-align">what i do</h1>
        <hr>
        <br>
        <div class="row s12">
            <div class="col m4" id="animations"><img src="assets/web_development.jpeg" alt="development" title="Denis Lafontant web development" class="circle responsive-img mx-auto z-depth-3 animate__slideInDown" width="340" height="340"> 
                <div class="text-block center-align">
                    <h4>Web Development</h4>
                    <p>Create a responsive website, e-commerce online shop, or fully scalable, powerful hand-craft web application</p>
                </div>
            </div>
            <div class="col m4" id="animations"><img src="assets/digital_marketing.jpeg" alt="digital_marketing" title="Denis Lafontant digital marketing" class="circle responsive-img mx-auto z-depth-3 animate__slideInDown" width="340" height="340"> 
                <div class="text-block center-align">
                    <h4>Digital Marketing</h4>
                    <p>Help you reach an enormous audience in a way that is both cost-effective and measurable</p>
                </div>
            </div>
            <div class="col m4" id="animations"><img src="assets/branding.jpg" alt="branding" title="Denis Lafontant branding" class="circle responsive-img mx-auto animate__slideInDown z-depth-3" width="340" height="340"> 
                <div class="text-block center-align">
                    <h4>Branding & Rebranding</h4>
                    <p>Your brand is your business. From brand creation to rebranding just to have your business update and reachable</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row s12">
            <div class="col m4" id="animations"><img src="assets/graphic_design.jpg" alt="graphic_design" title="Denis Lafontant graphic design" class="circle responsive-img mx-auto z-depth-3" width="340" height="340"> 
                <div class="text-block center-align">
                    <h4>Graphic Design</h4>
                    <p>Create powerful visual content for your business to communicate effectively and raise awareness. </p>
                </div>
            </div>
            <div class="col m4" id="animations"><img src="assets/data_analytics.png" alt="data_analytics" title="Denis Lafontant data_analytics" class="circle responsive-img mx-auto z-depth-3" width="340" height="340"> 
                <div class="text-block center-align">
                    <h4>Data Analytics</h4>
                    <p>Data Analytics has a key role in improving your business as it is used to gather hidden insights, generate reports, perform market analysis, and improve business requirements.</p>
                </div>
            </div>
            <div class="col m4" id="animations"><img src="assets/enterprise_solutions.png" alt="enterprise_solutions" title="Denis Lafontant enterprise solutions" class="circle responsive-img mx-auto z-depth-3" width="340" height="340"> 
                <div class="text-block center-align">
                    <h4>Enterprise Solutions</h4>
                    <p>integrate multiple facets of a company’s business through the interchange of information from various business process areas and related databases</p>
                </div>
            </div>
        </div>
    </div>
</div>

   
   