<div class="container-fluid" id="Projects">
    <div class="container">
        <h1 class="center-align" id="projects">portfolio</h1>
        <hr>
        <br>
        <div class="row s12" id="projects">
            <div class="col m4 project-tile">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top responsive-img" src="assets/haiti_report_zone.png" alt="Card image cap" title="Haiti Report Zone">
                    <div class="card-body">
                    <h5 class="card-title">Haiti Report Zone</h5>
                    <p class="card-text">Haitian Online Newspaper Website</p>
                    <a href="https://haitireportzone.com" target="_blank" class="btn btn-primary">View Project</a>
                    </div>
                </div>
            </div>
            <div class="col m4 project-tile">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top responsive-img" src="assets/haitian_national_police.png" alt="Card image cap" title="Haitian National Police">
                    <div class="card-body">
                    <h5 class="card-title">Haitian National Police</h5>
                    <p class="card-text">Haiti law enforcement institution Website</p>
                    <a href="https://pnh.ht" target="_blank" class="btn btn-primary">View Project</a>
                    </div>
                </div>
            </div>
            <div class="col m4 project-tile">
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top responsive-img" src="assets/national_police_academy.png" alt="Card image cap" title="Haitian Nationa Police Academy">
                    <div class="card-body">
                    <h5 class="card-title">National Police Academy</h5>
                    <p class="card-text">Haiti Police School Website</p>
                    <a href="https://anp.pnh.ht" target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div>