<div class="container-fluid">
  <div class="container">
    <div class="col s12 m7">
        <h4 class="header center-align">Contact</h4>
        <hr>
        <div class="card horizontal">
          <div class="card-image">
            <img src="assets/logo_transparent.png" class="responsive-img mx-auto" width="500" height="500" alt="logo" title="Denis Lafontant">
          </div>
          <div class="card-stacked">
            <div class="card-content">
                <div class="row">
                  <h3>Get in touch</h3>
                  <p><b>denis@denislafontant.com</b></p>
                  <hr>
                  <div class="container">
                  <ul class="social-icons">
                    <li>
                      <a href="https://www.facebook.com/denis.lafontant/" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span> - Facebook</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/heracles2k5" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <span> - Twitter</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/denis-lafontant-37031439/" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <span> - Linkedin</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/icebox827/" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span> - Instagram</span>
                      </a>
                    </li>
                  </ul>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
