.container-fluid {
    background-color: blue;
    margin-top: 15px;
    padding-top: 40px;
}

h4 {
    text-transform: uppercase;
    color: white;
}

p {
    color: white;
}

.text-block {
    align-content: center;
}

hr {
    color: aliceblue;
}

h1 {
    text-transform: uppercase;
    color: white;
}


