/* Typogrphy style*/
h1 {
    text-transform: uppercase;
}
/*---------- Projects ----------*/

/* Horizontal rule formatting */
#portfolio hr {
background-color: #36B1BF;
height: 0.1rem
}

/* welcome-section text formatting */
#portfolio h1 {
color: #36B1BF;
}

/* Padding */
#portfolio {
padding-top: 1rem;
padding-bottom: 1rem;
animation: slideMe 1.5s ease-in-out;
}

/* Center align the text */
#portfolio {
text-align: center !important;
}

/*animations*/
@keyframes slideMe{
    0%{
        transform: skewX(53deg) translateX(-500px);
        opacity: 0;
    }
    60%{
        transform: translateX(0px);
    }
    62%{
        transform: skewX(0deg) translateX(30px);
    }
    70%{
        transform: skew(-20deg);
        opacity: 1;
    }
    80%{
        transform: skew(0deg) translate(0px);
    }
    90%{
        transform: skew(-5deg);
    }
    100%{
        transform: skew(0deg);
    }
}

